
<form novalidate
      [formGroup]="form">
  <h3>User Filter</h3>
  <div class="row">
    <div class="col-md-3">
      <input type="text"
             formControlName="name"
             class="form-control"
             placeholder="Name" />
    </div>
    <div class="col-md-3">
      <input type="text"
             formControlName="city"
             class="form-control"
             placeholder="City" />
    </div>
    <div id="gender">
      <select class="form-control"
              formControlName="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
    <div id="age" >
      <input type="text"
             formControlName="minAge"
             class="form-control"
             placeholder="age from"/>
    </div>
    <div id="age" >
      <input type="text"
             formControlName="maxAge"
             class="form-control"
             placeholder="age to"/>
    </div>
    <div id="search">
      <button class="btn btn-primary"
              (click)="search()">
        Search
      </button>
    </div>
  </div>
</form>
<br />
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="users">
    <tbody>
      <tr *ngFor="let user of users">
        <td><a class="btn btn-white-view" [routerLink]="[ '/app-home', user.id ]">{{ user.fullName }}</a></td>
        <td><img class="rounded-circle" width="45" height="45" src="data:image/png;base64,{{user.avatar}}"></td>
        <td *ngIf="user.id!=currentUser.id && !isFriend(user)"><button (click)="sendFriendRequest(user.id)">Send Request</button></td>
        <td *ngIf="user.id!=currentUser.id"><button (click)="openFormModal(user.id)">Send Message</button></td>
        <td><a class="btn btn-white-view" [routerLink]="[ '/app-roles', user.id]">User rights</a></td>
      </tr>

    </tbody>
  </table>

