<h1 id="tableLabel">Users</h1>

<p>This component demonstrates users in social network.</p>

<p *ngIf="!users"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="users">
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td *ngIf="user.avatar"><img class="rounded-circle" width="45" height="45" src="data:image/png;base64,{{user.avatar}}"></td>
      <td *ngIf="!user.avatar"><img src="https://www.dietolog4you.com/images/avatar.jpeg" class="rounded-circle" width="45" height="45"></td>
      <td><button (click)="sendFriendRequest(user.id)">Send Request</button></td>
      <td><button (click)="openFormModal(user.id)">Send Message</button></td>
    </tr>

  </tbody>
</table>

