<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <title></title>
</head>
<body>
  <form>
    <div class="card gedf-card" *ngIf="!id">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">
              Create post
            </a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
            <div class="form-group">
              <label class="sr-only" for="message">post</label>
              <textarea class="form-control" id="message" rows="3" placeholder="What are you thinking?" name="text" [(ngModel)]="text"></textarea>
            </div>
          </div>
        </div>
        <div class="btn-toolbar justify-content-between">
          <div class="btn-group">
            <button type="submit" class="btn btn-primary" id="share" (click)="createPost()">Share</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!--post-->

  <div *ngFor="let post of posts; let i = index">
    <br />
    <div class="card gedf-card">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex justify-content-between align-items-center">
            <div class="mr-2">
              <img class="rounded-circle" width="45" height="45" src="data:image/png;base64,{{post.appUser.avatar}}">
            </div>
            <div class="ml-2">
              <div class="h7 text-muted">{{post.appUser.fullName}}</div> <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> {{post.date | date}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <a class="card-link" href="#">
        </a>
        <p class="card-text">
          {{post.text}}
        </p>
      </div>
      <div class="card-footer">
        <button class="btn btn-light" (click)=likePost(post.id)><i class="fa fa-gittip"></i> Like <span *ngIf="post.likes?.length>0">{{post.likes.length}}</span></button>
        <button class="btn btn-light" (click)="isCollapsed[i] = !isCollapsed[i]" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"><i class="fa fa-comment"></i> Comment <span *ngIf="post.comments?.length>0">{{post.comments.length}}</span></button>
        <button class="btn btn-light" (click)="deletePost(post.id)"><i class="fa fa-trash"></i> Delete</button>
      </div>
      <div [ngbCollapse]="!isCollapsed[i]" id="collapseExample">
        <div class="card-body" *ngFor="let comment of post.comments">
          <div class="row">
            <div class="col-md-2">
              <img class="rounded-circle" width="45" height="45" src="data:image/png;base64,{{comment.appUser.avatar}}">
              <p class="text-secondary">{{comment.date | date}}</p>
            </div>
            <div class="col-md-10">
              <p><button type="button" class="btn btn-link" [routerLink]="[ '/app-home', comment.appUser.id ]"><strong>{{comment.appUser.fullName}}</strong></button></p>
              <p>{{comment.text}}</p>
            </div>
          </div>
        </div>
        <input #text type="text" class="form-control" placeholder="Type your comment here" (keyup.enter)="createComment(post.id, text.value); text.value=''">
      </div>
    </div>
  </div>
  <h3 *ngIf="posts?.length == 0">There are no posts yet.</h3>
</body>
</html>
