<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title></title>
</head>
<body>
  <div class="w3-card w3-round w3-white" *ngIf="user">
    <div class="w3-container">
      <h4 class="w3-center">{{user.fullName}}</h4>
      <p class="w3-center"><img src="data:image/png;base64,{{user.avatar}}" class="w3-circle" style="height:120px;width:106px" alt="Avatar"></p>
      <hr>
      <p *ngIf="user.phoneNumber"><i class="fa fa-phone fa-fw w3-margin-right w3-text-theme"></i>{{user.phoneNumber}}</p>
      <p *ngIf="user.city"><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>{{user.city}}</p>
      <p *ngIf="user.birthDate"><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i>{{user.birthDate | date}}</p>
      <p *ngIf="user.gender"><i class="fa fa-venus-mars fa-fw w3-margin-right w3-text-theme"></i>{{gender[user.gender]}}</p>
    </div>
  </div>
</body>
</html>
