<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>
  <div id="fb" *ngFor="let request of requests">
    <p>
      <b> Friend Requests </b>
    </p>
    <img src="data:image/png;base64,{{request.appUser.avatar}}" class="rounded-circle" width="85" height="85" alt="Avatar">
    <p id="info"><b>  {{ request.appUser.fullName }} </b> <br> </p>
    <div id="button-block">
      <div id="confirm"> <button class="button" (click)=acceptRequest(request.id)>Confirm</button></div>
      <div id="delete"> <button class="button" (click)="rejectRequest(request.id)">Delete Request</button></div>
    </div>
  </div>
  <!--friends-->
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="friends">
    <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let friend of friends">
        <td>{{ friend.firstName }}</td>
        <td>{{ friend.lastName }}</td>
        <td><img class="rounded-circle" width="45" height="45" src="data:image/png;base64,{{friend.avatar}}"></td>
        <td><button (click)="openFormModal(friend.id)">Send Message</button></td>
        <td><a class="btn btn-white-view" [routerLink]="[ friend.id ]">view</a></td>
      </tr>
    </tbody>
  </table>
</body>
</html>
